{% extends "admin/change_list.html" %}

{% load staticfiles %}
{% load i18n %}
{% load humanize %}
{% load mathtags %}
{% load tz %}

{% block content_title %}
    <h1> Control de Carga de Votos </h1>
{% endblock %}

{% block result_list %}

<div class="results">
    <div style="margin-bottom: 5px;"><span> {% if table.closed %} Mesa cerrada por {{ table.closed_by.first_name }} {{ table.closed_by.last_name }} {% endif %} </span></div>
    <table>
        <thead>
            <tr>
            <th rowspan="2" data-valign="middle">
                Partido
            </th>
            <th rowspan="2" data-valign="middle">
                Lista
            </th>
            <th colspan="{{categories.count}}">
                Cantidad
            </th>
            </tr>
            <tr>
            {% for c in categories %}
                <th>
                {{c.name}}
                </th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% regroup votes by electoral_list as category_votes %}
            {% for cv in category_votes %} 
            <tr>
                <td>{{ cv.grouper.party.name }}</td>
                <td>{{ cv.grouper }}</td>
                {% for item in cv.list %}
                    <td>{{item.quantity}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
                <td>  </td>
                <td> Total </td>
                {% for s in summary %} 
                    <td> {{ s.quantity__sum | default:0 }} </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
<!-- SCRIPTSS -->
<script src="{% static 'mines/bower_components/jquery/dist/jquery.min.js'%}"></script>
<script>
    $(document).ready(function(){
        //setTimeout(function(){location.reload()}, 20000);
    });
</script>
{% endblock %}

{% block pagination %}{% endblock %}

