{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
<div class="content-i col-sm-6" style="margin: 0 auto;">
  <div class="content-box">
    <div class="col-sm-12">
        <div class='element-wrapper'>
          <h6 class="element-header">Resultados Parciales</h6> 
          <div class="row pt-4">
            <div class="water-mark"></div>
            <div class="col-sm-8">
              {% for c in categories %} 
              <div class='element-box'>
                  <h6 class="element-header">{{c.name}}</h6>
                  <div class='el-chart-w'>
                    <canvas id="myChart-{{c.pk}}" height="350" width="350"></canvas>  
                  </div> 
                  <div class="el-legend condensed">
                    <div class="row" id="legend-{{c.pk}}">
                      
                    </div>
                  </div>
              </div> 
              {% endfor %}        
            </div>
            <div class="col-sm-4">
              <div class="element-box-tp">                  
                <div class="col-sm-12">
                  <a class="element-box el-tablo centered trend-in-corner smaller" href="#">
                    <div class="label">Electores Inscriptos</div>
                    <div class="value">{{totals_electors.elctors_qty__sum|intcomma}}</div>
                  </a>
                </div>                   
                <div class="col-sm-12">
                  <a class="element-box el-tablo centered trend-in-corner smaller" href="#">
                    <div class="label">Votos Positivos</div>
                    <div class="value">{{totals_votes.quantity__sum|intcomma}}</div>
                  </a>
                </div> 
                {% for v in other_votes %}                        
                  <div class="col-sm-12">
                    <a class="element-box el-tablo centered trend-in-corner smaller" href="#">
                      <div class="label">{{v.electoral_list__name}}</div>
                      <div class="value">{{v.quantity__sum|intcomma}}</div>
                    </a>
                  </div> 
                {% endfor %}                     
              </div>
            </div>
          </div> <!--end row-->
        </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block extra_js%}

<script>
    var votes_per_party_labels = [];   
    var votes_per_party_data = [];   
    var other_votes = [];   
    var colors_elist = []; 
    var colors_border_elist = [];           
    var colors_party = [];
    var colors_border_party = [];
    var qty_bycat = []
    var c, color; 

    var dynamicColors = function() {
      var r = Math.floor(Math.random() * 255);
      var g = Math.floor(Math.random() * 255);
      var b = Math.floor(Math.random() * 255);
      return r + "," + g + "," + b;
    };
    
    var putLegend = function(c, color, legend, perc) { 
      $('#legend-' + c).append('<div class="col-auto col-xxxxl-6 ml-sm-auto mr-sm-auto col-6"><div class="legend-value-w">' + 
          '<div class="legend-pin legend-pin-squared" style="background-color: ' + color + ';"></div>' + 
          '<div class="legend-value"><span>' + legend + '</span><div class="legend-sub-value">' + perc + '</div></div></div></div>');
    }

    {% for v in qty_bycat %}  
      qty_bycat['{{v.category__pk}}'] = '{{v.quantity__sum}}'
    {% endfor %}

    {% for v in votes_per_party %}  
        c = parseInt('{{v.category__pk}}'); 
        if (votes_per_party_labels[c] === undefined) {
          votes_per_party_labels[c] = [];
          votes_per_party_data[c] = [];
          colors_party[c] = [];
          colors_border_party[c] = [];
        }    
        votes_per_party_labels[c].push('{{v.electoral_list__party__name}}');
        votes_per_party_data[c].push('{{v.quantity__sum}}');
        color = dynamicColors();
        colors_party[c].push("rgba(" + color + ", 0.2)");
        colors_border_party[c].push("rgba(" + color + ", 1)");

        var per = '{{v.quantity__sum}}' + " - " + (parseInt('{{v.quantity__sum}}') / qty_bycat[c] * 100 ).toFixed(0) + "%"; 
        putLegend(c, "rgba(" + color + ", 1)", '{{v.electoral_list__party__name}}', per);
        
    {% endfor %}                         

    {% for v in other_votes_bycat %}  
        c = parseInt('{{v.category__pk}}'); 
        if (votes_per_party_labels[c] === undefined) {
          votes_per_party_labels[c] = [];
          votes_per_party_data[c] = [];
          colors_party[c] = [];
          colors_border_party[c] = [];
        }    
        votes_per_party_labels[c].push('{{v.electoral_list__name}}');
        votes_per_party_data[c].push('{{v.quantity__sum}}');
        color = dynamicColors();
        colors_party[c].push("rgba(" + color + ", 0.2)");
        colors_border_party[c].push("rgba(" + color + ", 1)");

        var p = '{{v.quantity__sum}}' + " - " + (parseInt('{{v.quantity__sum}}') / qty_bycat[c] * 100).toFixed(0) + "%"; 
        putLegend(c, "rgba(" + color + ", 1)", '{{v.electoral_list__name}}', p);
    {% endfor %} 

    {% for c in categories %} 
      c = parseInt('{{c.pk}}');
      var ctx = document.getElementById('myChart-{{c.pk}}');
      var myChart = new Chart(ctx, {
          type: 'pie',
          data: {
              labels: votes_per_party_labels[c],
              datasets: [{
                  data: votes_per_party_data[c],
                  backgroundColor: colors_party[c],
                  hoverBackgroundColor: colors_border_party[c],
                  borderColor: colors_border_party[c],
                  borderWidth: 1,
                  hoverBorderColor: 'transparent'
              }]
          },
          options: {
            legend: {
              display: false,
              position: 'bottom',
              labels: {
                  fontColor: '#333',
              }
            },
            tooltips: {
              enabled: true,
              callbacks: {
                label: function(tooltipItem, data) {
                  var dataset = data.datasets[tooltipItem.datasetIndex];
                  var label = data.labels[tooltipItem.index] || '';
                  if (label) {
                      label += ': ';
                  }
                  var t = dataset._meta[Object.keys(dataset._meta)[0]].total;
                  var p = String(Math.round(dataset.data[tooltipItem.index]/t*100)) + "%"; 

                  return label + p;
                }
              }
            }
          }
          /* options: {
            legend: {
              display: true,
              position: 'bottom',
            },
            events: false,
            animation: {
                duration: 1200,
                easing: "easeOutQuart",
                onComplete: function () {
                    var ctx = this.chart.ctx;
                    ctx.font='14px LatoRegular, Helvetica,sans-serif';
                    ctx.textAlign = 'center';
                    ctx.textBaseline = 'bottom';
                    this.data.datasets.forEach(function (dataset) {
                        for (var i = 0; i < dataset.data.length; i++) {
                            var m = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model,
                                t = dataset._meta[Object.keys(dataset._meta)[0]].total,
                                mR = m.innerRadius + (m.outerRadius - m.innerRadius) / 2,
                                sA = m.startAngle,
                                eA = m.endAngle,
                                mA = sA + (eA - sA)/2;
                            var x = mR * Math.cos(mA);
                            var y = mR * Math.sin(mA);
                            ctx.fillStyle = '#333';

                            var p = String(Math.round(dataset.data[i]/t*100)) + "%";
                            if(dataset.data[i] > 0) {
                                //ctx.fillText(m.label, m.x + x, m.y + y-25);
                                ctx.fillText(dataset.data[i], m.x + x, m.y + y-10);
                                ctx.fillText(p, m.x + x, m.y + y + 8);
                            }
                        }
                    });
                }
            }
          }*/
      });  
    {% endfor %}
       
  
</script>

{% endblock extra_js%}