{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="content-i">
  <div class="content-box">
    <div class="row pt-4">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <h6 class="element-header">
            Carga de Conteo de Votos
          </h6>
          <div class="element-box-tp">
            <div class="controls-above-table">
              <form class="form-horizontal">
                <div class="row">
                  <div class="col-sm">
                    <div class="form-group row">
                      <label for="school-select" class="control-label col-xs-3" style="margin-right: 5px;">Escuela: </label>
                      <div class="col-sm-9">
                        <select class="form-control form-control-sm js-select2" id="school-select" style="width:100%">
                          {% for s in schools %}
                            <option value="{{s.pk}}" class="school-change">{{s.name}}</option>
                          {% endfor %}
                        </select>         
                      </div>             
                    </div>              
                  </div> 
                  <div class="col-sm-3">
                    <div class="form-group row">
                      <label for="table-select" class="control-label col-xs-3" style="margin-right: 5px;">Mesa: </label>
                      <div class="col-sm-9">
                        <select class="form-control form-control-sm js-select2" id="table-select" style="width:100%">
                          {% for t in tables %}
                            <option value="{{t.pk}}" class="table-change">{{t.name}}</option>
                          {% endfor %}
                        </select>      
                      </div>
                    </div>    
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group row">
                      <label for="category-select" class="control-label col-xs-3" style="margin-right: 5px;">Cargo: </label>
                      <div class="col-sm-9">
                        <select class="form-control form-control-sm js-select2" id="category-select" style="width:100%">
                          {% for c in categories %}
                            <option value="{{c.pk}}" class="category-change">{{c.name}}</option>
                          {% endfor %}
                        </select>      
                      </div>
                    </div>    
                  </div>
                  <div class="col-sm-3" style="text-align: right;">
                    <!--a class="btn btn-sm btn-secondary" href="#">Download CSV</a>
                    <a class="btn btn-sm btn-secondary" href="#">Print PDF</a -->
                    <a class="btn btn-sm btn-primary" id="save-btn" href="#">Guardar</a>
                  </div>
                </div>
              </form>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-lg table-v2 table-striped" id="myTable">
                <thead>
                  <tr>
                    <th>
                      Partido
                    </th>
                    <th>
                      Lista
                    </th>
                    <th>
                      Cantidad
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for v in votes %}
                  <tr school={{v.table.school.pk}} table={{v.table.pk}} category={{v.category.pk}}>
                    <td>
                      {{v.electoral_list.party}}
                    </td>
                    <td>
                      {{v.electoral_list}}
                    </td>
                    <td>
                      <input type="number" class="form-control bright" value={{v.quantity}} onchange="update_vote({{v.pk}}, this)">
                    </td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>                      
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block extra_js%}

<script>
    $(document).ready( function () {
      $('#myTable').DataTable({
        language: {
          "decimal": "",
          "emptyTable": "No hay información",
          "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
          "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
          "infoFiltered": "(Filtrado de _MAX_ total entradas)",
          "infoPostFix": "",
          "thousands": ",",
          "lengthMenu": "Mostrar _MENU_ Entradas",
          "loadingRecords": "Cargando...",
          "processing": "Procesando...",
          "search": "Buscar:",
          "zeroRecords": "Sin resultados encontrados",
          "paginate": {
              "first": "Primero",
              "last": "Ultimo",
              "next": "Siguiente",
              "previous": "Anterior"
          }
        },
        responsive: true,
        paging: false,
        searching: false,
        info: false        
      });

      $("input:text").focus(function() { $(this).select(); } );

      $('.js-select2').select2();

      $('#school-select').on('select2:select', filter);
      $('#table-select').on('select2:select', filter);
      $('#category-select').on('select2:select', filter);

      function filter(){
        var school = $('#school-select').val();
        var table = $('#table-select').val();
        var category = $('#category-select').val();

        $('tr').hide();
        $('tr[school="'+school+'"][table="'+table+'"][category="'+category+'"]').show();
      }

      function update_all() {
        $('.controls-above-table').alert();
        $('input[saved!=true]').each(function(){
          $(this).change();
        });
        $('.controls-above-table').alert('close');
      }

      $('#save-btn').on('click', update_all);
      filter();    
    });
    
    var token = '{{csrf_token}}';
    
    function update_vote( id, obj ) {
      $.ajax({
            type: 'POST',
            headers: { "X-CSRFToken": token },
            url : "/update_vote/",
            data:{ 'pk':id, 'qty': obj.value },
            cache: false,
            success: function(data){
                obj.setAttribute("saved", "");
            },
            fail: function (data) {
                console.log("Error: " + data);
            }                
      });
    }
</script>

{% endblock extra_js%}