{% extends "admin/change_list.html" %}

{% load i18n %}
{% load humanize %}
{% load mathtags %}
{% load tz %}

{% block content_title %}
    <h1> {% trans 'Reporte de Votos' %} </h1>
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <script>
        var dynamicColors = function() {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            return "rgba(" + r + "," + g + "," + b + ", 0.35)";
        };
        var options = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                display: false
            },
            title: {
                display: true
            },
            scales: {
                xAxes: [{
                    position: 'top'
                }]
            },
            events:false,
            "animation": {
            "duration": 1,
            "onComplete": function() {
                var chartInstance = this.chart,
                ctx = chartInstance.ctx;

                ctx.font = '12px LatoRegular, Helvetica,sans-serif';
                ctx.textAlign = 'center';
                ctx.textBaseline = 'bottom';

                this.data.datasets.forEach(function(dataset, i) {
                var meta = chartInstance.controller.getDatasetMeta(i);
                meta.data.forEach(function(bar, index) {
                    var data = dataset.data[index];
                    var t = '{{ summary_total.total_votes }}';
                    ctx.fillText(data + ' - ' + String(Math.round(data / t * 100, 0)) + '%', bar._model.x + 20, bar._model.y );
                    //ctx.fillText(String(Math.round(data / t * 100, 0)) + '%', bar._model.x + 20, bar._model.y + 12);
                });
                });
              }
            },
        };
        window.onload = function () {
            var ctx = document.getElementById("graph");
            //{% regroup cl.queryset|dictsort:"gender" by get_gender_display as gender_list %}
            var lineChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: {
                    labels: [{% for s in summary %}'{{ s.electoral_list__name }}',{% endfor %}],
                    datasets: [{
                        data: [{% for s in summary %}'{{ s.total_votes }}',{% endfor %}],
                        backgroundColor: [{% for s in summary %} dynamicColors(), {% endfor %}]
                    }]
                },
                options: options
            });
        }
    </script>
{% endblock %}

{% block result_list %}

<div class="results">
    <table>
        <thead>
            <tr>
                <th> <div class="text"> <a href="#"><strong>Partido </strong></a> </div> </th>
                <th> <div class="text"> <a href="#"><strong>Lista </strong></a> </div> </th>
                <th> <div class="text"> <a href="#"><strong>Categoría </strong></a> </div> </th>
                <th> <div class="text"> <a href="#"><strong>Total de Votos </strong></a> </div> </th>
                <th> <div class="text"> <a href="#"><strong>% del Total </strong></a> </div> </th>
            </tr>
        </thead>
        <tbody>
            {% for row in summary %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td> {% if not row.electoral_list__party__name == None %} {{ row.electoral_list__party__name }} {% endif %} </td>
                <td> {{ row.electoral_list__name }} </td>
                <td> {{ row.category__name }} </td>
                <td> {{ row.total_votes | default:0 }} </td>
                <td><strong> {{ row.total_votes | default:0 | percentof:summary_total.total_votes }} </strong> </td>
            </tr>
            {% endfor %}
            <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
                <td>  </td>
                <td>  </td>
                <td> Total </td>
                <td> {{ summary_total.total_votes | default:0 }} </td>
                <td> 100% </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="results">
    <div class="bar-chart" style="max-width: 100%;">
        <canvas id="graph" height="250" width="250"></canvas> 
    </div>
</div>

{% endblock %}


{% block pagination %}{% endblock %}

