{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="content-i">
  <div class="content-box">  
    <div style="padding-left: 50px; text-align: right; padding-right: 20px;">
      <a href="/admin" style="color: #261D1D; text-decoration: underline; font-size: 14px; letter-spacing: 1px;">Gestión</a>
      <a href="/" style="color: #261D1D; text-decoration: underline; font-size: 14px; margin-left: 20px; letter-spacing: 1px;">Reportes</a>
      <a href="{% url 'logout' %}" style="color: #261D1D; text-decoration: underline; font-size: 14px; margin-left: 20px; letter-spacing: 1px;"><i class="os-icon os-icon-signs-11"></i><span>Cerrar Sesión</span></a>
    </div>
    <div class="row pt-4">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <h6 class="element-header">
            Carga de Conteo de Votos
          </h6>
          <div class="element-box-tp">
            <div class="controls-above-table">
              <form class="form-horizontal">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group row">
                      <label for="school-select" class="control-label col-xs-3" style="margin-right: 5px;">Escuela: </label>
                      <div class="col-sm-9">
                        <select class="form-control form-control-sm js-select2" id="school-select" style="width:100%">
                          {% for s in schools %}
                            <option value="{{s.pk}}" class="school-change">{{s.name}}</option>
                          {% endfor %}
                        </select>         
                      </div>             
                    </div>              
                  </div> 
                  <div class="col-sm-4">
                    <div class="form-group row">
                      <label for="table-select" class="control-label col-xs-3" style="margin-right: 5px;">Mesa: </label>
                      <div class="col-sm-9">
                        <select class="form-control form-control-sm js-select2" id="table-select" style="width:100%">
                          {% for t in tables %}
                            <option value="{{t.pk}}" class="table-change" school="{{t.school.pk}}" closed="{{t.closed}}">{{t.name}}</option>
                          {% endfor %}
                        </select>      
                      </div>
                    </div>    
                  </div>
                  <div class="col-sm-2" id="table-span">
                    <span></span>
                  </div>
                  <!--div class="col-sm-3">
                    <div class="form-group row">
                      <label for="category-select" class="control-label col-xs-3" style="margin-right: 5px;">Cargo: </label>
                      <div class="col-sm-9">
                        <select class="form-control form-control-sm js-select2" id="category-select" style="width:100%">
                          {% for c in categories %}
                            <option value="{{c.pk}}" class="category-change">{{c.name}}</option>
                          {% endfor %}
                        </select>      
                      </div>
                    </div>    
                  </div-->
                  <div class="col-sm-2" style="text-align: right;">
                    <!--a class="btn btn-sm btn-secondary" href="#">Download CSV</a>
                    <a class="btn btn-sm btn-secondary" href="#">Print PDF</a -->
                    <a class="btn btn-sm btn-primary" id="save-btn" href="#">Cerrar Mesa</a>
                  </div>
                </div>
              </form>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-v2 table-striped" id="myTable">
                <thead>
                  <tr>
                    <th rowspan="2" data-valign="middle">
                      Partido
                    </th>
                    <th rowspan="2" data-valign="middle">
                      Lista
                    </th>
                    <th colspan="{{categories.count}}">
                      Cantidad
                    </th>
                  </tr>
                  <tr>
                    {% for c in categories %}
                      <th>
                        {{c.name}} ({{c.order}})
                      </th>
                    {%endfor%}
                  </tr>
                </thead>
                <tbody>
                  {% comment %} {% for v in votes %}
                  <tr school={{v.table.school.pk}} table={{v.table.pk}} category={{v.category.pk}}>
                    <td>
                      {{v.electoral_list.party}}
                    </td>
                    <td>
                      {{v.electoral_list}}
                    </td>
                    <td>
                      <input type="number" class="form-control bright" value={{v.quantity}} onchange="update_vote({{v.pk}}, this)">
                    </td>
                  </tr>
                  {%endfor%} {% endcomment %}
                  
                  <!--script>
                    console.log('{{categories}}');
                  </script-->  
                  {% regroup votes by electoral_list as category_votes %}
                  {% for cv in category_votes %} 
                    <tr>
                      <td>{{ cv.grouper.party.name }}</td>
                      <td>{{ cv.grouper }}</td>
                      {% for item in cv.list %}
                        <td school={{item.table.school.pk}} table={{item.table.pk}} data>
                          <input type="number" class="form-control bright" value={{item.quantity}} onchange="update_vote({{item.pk}}, this)">
                        </td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>                      
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block extra_js%}

<script>
    $(document).ready( function () {

      $("input").focus(function() { $(this).select(); } );

      //$('.js-select2').select2();
      //$('#school-select').on('select2:select', filter);
      //$('#table-select').on('select2:select', filter);
      $('#school-select').on('change', filter_school);
      $('#table-select').on('change', filter_table);

      function filter_school () {
        school = $('#school-select').val();

        $('#table-select option').hide();
        $('#table-select option[school="'+school+'"]').show();        
        $('#table-select').val( $('#table-select option[school="'+school+'"]').first().val() );      
        filter_table();  
      }

      function filter_table () {
        school = $('#school-select').val();
        table = $('#table-select').val();
        var sel = document.getElementById('table-select');
        var selected = sel.options[sel.selectedIndex];
        var c = selected.getAttribute('closed');
  
        if ( c == 'True' ){
          $('#table-span').find('span').html('Mesa CERRADA');
        } else {
          $('#table-span').find('span').html('');
        }
        $('tbody td[data]').hide();
        $('td[school="'+school+'"][table="'+table+'"]').show();
      }

      function update_all() {
        close_table();
        $('input[saved!=true]').each(function(){
          $(this).change();
        });
      }

      $('#save-btn').on('click', update_all);
      filter_school();    
    });
    
    var token = '{{csrf_token}}';
    
    function update_vote( id, obj ) {
      $.ajax({
            type: 'POST',
            headers: { "X-CSRFToken": token },
            url : "/update_vote/",
            data:{ 'pk':id, 'qty': obj.value },
            cache: false,
            success: function(data){
                obj.setAttribute("saved", "");
            },
            fail: function (data) {
                console.log("Error: " + data);
            }                
      });
    }

    function close_table() {
      table_id = $('#table-select').val();
      var mensaje;
      var opcion = confirm("¿Finalizó la carga? ¿Desea cerrar la mesa seleccionada?");
      if (opcion == true) {
        $.ajax({
            type: 'POST',
            headers: { "X-CSRFToken": token },
            url : "/close_table/",
            data:{ 'pk': table_id },
            cache: false,
            success: function(data){
                console.log("mesa cerrada " + table_id);
            },
            fail: function (data) {
                console.log("Error: " + data);
            }                
        });
      } else {
         //console.log("Cancela");
      }      
    }
</script>

{% endblock extra_js%}